@import '../../styles/colors';
@import '../../styles/fonts';

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

html, body, #root, #root > div {
  width: 100%;
  height: 100%;
  background-color: $color-1;
  overflow: hidden;
}