@import '../../styles/colors';

.ingredient-container-result {
  display: flex;
  width: 100%;
  height: calc((4rem + 2px) * 6 + 0.25rem * 5);
  justify-content: center;
  overflow: hidden;
  align-items: center;
  border-radius: 0.25rem;
  background-color: $color-1;
}

.ingredient-container-result-content {
  width: 100%;
  height: 100%;
}

.ingredient-container-result-nocontent {
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.ingredient-container-result-nocontent-loading {
  font-size: 3rem;
  color: $color-5;
}

.ingredient-container-result-nocontent-error {
  text-align: center;
  font-size: 1.6rem;
  color: $color-5;
}