@import '../../styles/colors';

.ingredient-container-result-item-primary-transition {
  height: calc(4rem + 2px);
  margin: 0 0 0.25rem 0 !important;
  transition-property: height, margin, visibility;
  transition-timing-function: linear;
  transition-duration: 0.25s, 0.25s, 0s;
  transition-delay: 0s, 0s, 0s;
}

.ingredient-container-result-item-primary-transition-hidden {
  visibility: hidden;
  height: 0;
  margin: 0 !important;
  transition-duration: 0.25s, 0.25s, 0s;
  transition-delay: 0s, 0s, 0.25s;
}

.ingredient-container-result-item-primary {
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: $color-1;
  border-radius: 0.25rem;
  border: 1px solid $color-5;
  cursor: pointer;
}

.ingredient-container-result-item-primary-info:hover {
  background-color: $color-4;
}

.ingredient-container-result-item-primary-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-right: 1px dotted $color-5;
  overflow: hidden;
}

.ingredient-container-result-item-primary-logo-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.ingredient-container-result-item-primary-logo-img:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $color-1;
  font-size: 0.75rem;
  content: attr(alt);
}

.ingredient-container-result-item-primary-logo-alt {
  font-size: 3rem;
  color: $color-6;
}

.ingredient-container-result-item-primary-info {
  display: block;
  width: calc(100% - 4rem - 1px);
}

.ingredient-container-result-item-primary-info-name {
  display: flex;
  justify-content: left;
  align-items: center;
  width: calc(100% - 1rem);
  height: 50%;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 0.8rem;
  border-bottom: 1px dotted $color-5;
}

.ingredient-container-result-item-primary-info-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50%;
}

.ingredient-container-result-item-primary-info-actions > svg {
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.ingredient-container-result-item-primary-info-actions-item-expand {
  color: #3366ff;
}

.ingredient-container-result-item-primary-info-actions-item-add {
  color: #3FBF3F;
}

.ingredient-container-result-item-description-transition-hidden {
  height: 0;
  margin: 0 !important;
  visibility: hidden;
  transition-property: height, visibility;
  transition-timing-function: linear;
  transition-duration: 0.25s, 0s;
  transition-delay: 0s, 0.25s;
}

.ingredient-container-result-item-description-transition {
  height: calc(100% - 4rem - 2px - 0.25rem);
  visibility: visible;
  transition-duration: 0.25s, 0s;
  transition-delay: 0s, 0s;
}

.ingredient-container-result-item-description {
  width: calc(100% - 1rem - 2px);
  height: calc(100% - 1rem - 2px);
  padding: 0.5rem;
  overflow: hidden;
  border-radius: 0.25rem;
  border: 1px solid $color-5;
  font-size: 0.75rem;
}