@import '../../styles/colors';

.ingredient-container-navigation-button {
  width: 100%;
  height: 2rem;
  background-color: $color-3;
  border: 1px solid $color-3;
  cursor: pointer;
}

.ingredient-container-navigation-button:focus {
  outline: none;
}

.ingredient-container-navigation-button-first {
  border-radius: 0.25rem;
}

.ingredient-container-navigation-button-previous {
  border-radius: 0.25rem 0 0 0.25rem;
}

.ingredient-container-navigation-button-next {
  height: 2rem;
  border-radius: 0 0.25rem 0.25rem 0;
}

.ingredient-container-navigation-tip {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: $color-5;
}

